<launch>	
	<node name="heartbeat" pkg="kocheng" output="screen" type="heartbeat" />
	<node name="remote_monitor" pkg="kocheng" output="screen" type="remote_monitor" />
	<node name="image_front" pkg="kocheng" output="screen" type="image_front" />
	<node name="image_processing" pkg="kocheng" output="screen" type="image_processing" />
</launch>
